<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://cdn.pixabay.com/photo/2016/04/25/23/54/hummel-1353423_640.jpg"
      cardTitle="Bee Blog"
      cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Bees and pollen"
      photoCover="https://cdn.pixabay.com/photo/2016/10/09/19/39/bee-1726659_640.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Bees are the future"
      photoCover="https://cdn.pixabay.com/photo/2017/11/28/18/52/bee-2984342_640.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="liquid gold"
      photoCover="https://cdn.pixabay.com/photo/2014/05/23/18/15/honey-352205_640.jpg"
    >
    </app-small-card>
  </div>
</div>
